.user-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-color {
  display: flex; /* Make it a flex container */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.link {
  margin: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.image {
  width: 200px;
  height: 200px;
}
.label{
  color: black;
  margin: 20px;
  margin-left: 55px;
}
.label1{
  color: black;
  margin: 20px;
  margin-left: 25px;
}