/* EApplication.css */

.application-container {
    max-width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #1f1f1f; /* Set your desired background color */
    color: #fff; /* Set text color */
    
  }
  
  .application-title {
    text-align: center;
    color: #3498db; /* Set title color */
  }
  
  .application-list {
    list-style: none;
    padding: 0;
  }
  
  .application-item {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .application-info {
    color: #3498db; /* Set info color */
  }
  
  .application-status {
    font-weight: bold;
  }
  
  .pending {
    color: #f39c12; /* Set pending status color */
  }
  
  .approved {
    color: #2ecc71; /* Set approved status color */
  }
  
  .application-text {
    margin-top: 10px;
    color: #777; /* Set text color */
  }
  