

.header-container {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white background */
    z-index: 1000; /* Higher z-index to make sure it's above other elements */
    padding: 7  px 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
 
  }
  
  .logo {
    max-width: 150px; /* Adjust the maximum width of the logo */
    max-height: 60px;
    border-radius: 15px;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  